<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

    <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>Three Recent Surveys</h3>
                <div class="row">
                    <div class="col-sm-9">Survey Question</div>
                    <div class="col-sm-3"># of Responses</div>
                    <%allData.forEach(function(entry,k){%>
                    <%if (k<3){%>
                    <div class="col-sm-9"><a href='http://adamtraskvotes.herokuapp.com/survey/<%=entry._id%>' id=surv_'<%=entry._id%>' class='surveyQuestion'><%=entry.surveyQuestion%></a></div>
                    <div class="col-sm-3"><a id='<%=entry._id%>'class='surveyQuestion'><%=entry.responseCount%></a></div>
                    <%}})%> 
                </div>
            </div>
    </div>

</div>
</body>
</html>

