<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/makesurvey" class="btn btn-default btn-sm">Make a New Survey</a>
    </div>

    <div class="row">

        <!-- MY SURVEYS -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> My Surveys</h3>
                <div class="row">
                    <div class="col-sm-9">Survey Question</div>
                    <div class="col-sm-3"># of Responses</div>
                    <%surveyData.forEach(function(entry){%>
                    <div class="col-sm-9"><a href='http://adamtraskvotes.herokuapp.com/survey/<%=entry._id.$oid%> id='<%=entry.id%>" class='surveyQuestion'><%=entry.surveyQuestion%></a></div>
                    <div class="col-sm-3"><a id='<%=entry.id%>'class='surveyQuestion'><%=entry.surveyActive%></a></div>
                    <%})%> 
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> All Surveys</h3>
                    <tr>
                    <th style='width: 75%'>Survey Question</th>
                    <th style='width: 25%'>Number of Responses</th>
                    </tr>
                    <%allData.forEach(function(entry){%>
                        <tr><td><a id='<%=entry.id%>'
                        class='surveyQuestion'><%=entry.surveyQuestion%></a></td>
                        <td class='numberResponses'>8</td></tr>
                    <%})%>   
            </div>
        </div>

    </div>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>username</strong>: <%= user.twitter.username %><br>
                        <strong>displayName</strong>: <%= user.twitter.displayName %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
