<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word;  }
        .top-buffer {margin-top: 20px}
        .bar-listing {height: 80px}
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/makesurvey" class="btn btn-default btn-sm">Make a New Survey</a>
    </div>

    <div class="row">
        <%=yelpData%>
        <%=yelpDataString%>
        

    </div>
    What now
        <!-- MY SURVEYS -->
	    <%yelpData.forEach(function(entry, k){%>
	    <div class="well bar-listing">
		    <div class="row top-buffer ">
		         <div class="col-sm-3"><a href="<%=entry.url%>"><img class = "img-responsive" src="<%=entry.image_url%>"></div>
		        <div class="col-sm-9"><%=entry.name%><br/><%=entry.location.address1%> <%=entry.location.city%>,<%=entry.location.state%> <%=entry.location.zip_code%></a><br/><button class="btn">0 Going Today</button></div>
		    </div>
	    </div>
	    <%})%> 
	
</div>
</body>
</html>
