<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/makesurvey" class="btn btn-default btn-sm">Make a New Survey</a>
    </div>

    <div class="row">
        <%=yelpData=>What now
        <!-- MY SURVEYS -->
        <div class="col-sm-6">
             <div class="well">
                <h3><span class="fa fa-user"></span>My Surveys</h3>
                <div class="row">
                    <div class="col-sm-9">Survey Question</div>
                    <div class="col-sm-3"># of Responses</div>
                    <%userData.forEach(function(entry, k){%>
                    <% if (entry.userId == user._id ) {%>
                    <div class="col-sm-9"><a href='http://adamtraskvotes.herokuapp.com/survey/<%=entry._id%>' id=surv_'<%=entry._id%>' class='surveyQuestion'><%=entry.surveyQuestion%></a></div>
                    <div class="col-sm-3"><a id='<%=entry._id%>'class='surveyQuestion'><%=entry.responseCount%></a></div>
                    <%}})%> 
                </div>
            </div>
        </div>
        
    </div>
</div>
</body>
</html>
