<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script type="text/javascript" src="/js/scripts.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<style>
        body        { padding-top:80px; word-wrap:break-word;  }
   		.top-buffer {margin-top: 20px}
        .bar-listing {height: 150px}
        .bar-photo img {
            display: block;
            margin: auto;
            height:150px;
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/makesurvey" class="btn btn-default btn-sm">Make a New Survey</a>
    </div>

    <input type='button' class="btn"  id='addnewrecord' data-userid = <%=user._id%> data-yelpid = 'new-record' data-mode = 'addonenew'  onmousedown="gotoBar(this);" >Add a new record</input>
    <input type='button' class="btn"  id='toggleme' data-userid = <%=user._id%> data-yelpid = 'new-record' data-mode = 'toggleone'  onmousedown="gotoBar(this);" >Toggle one</input>

    What now
    <!-- MY SURVEYS -->
    <%=yelpDataString%>
	<%yelpData.forEach(function(entry, k){%>
   
	    <div class="row top-buffer bar-listing">
	       
    	<div class="col-md-3 bar-photo">
    		 <a href="<%=entry.url%>"><img class = "img-responsive" src="<%=entry.image_url%>"></a>
    	</div>
    	<div class="col-md-9">
    	 <a href="<%=entry.url%>">
    		<%=entry.name%><br/>
    		<%=entry.location.address1%> <%=entry.location.city%>,<%=entry.location.state%> <%=entry.location.zip_code%></a><br/>
    		 <%if (user!=undefined)
    		 { %>
    	 	<input type='button' class="btn"  id='going-<%=entry.id%>' data-userid = <%=user._id%> data-yelpid = '<%=entry.id%>' data-mode = 'addonenew'  onmousedown="gotoBar(this);" >I Go</input>
    	 	<input type='button' class="btn"  id='going-<%=entry.id%>' data-userid = <%=user._id%> data-yelpid = '<%=entry.id%>' data-mode = 'toggle'  onmousedown="gotoBar(this);" >Toggle</input>
   
	   	 <%}%> 

    		0 Going Today




		</a>
		
	   	</div>
		</div>
	<%})%> 
	
</div>
</body>
</html>
