<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Survey Page</h1>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/makesurvey" class="btn btn-default btn-sm">Make a New Survey</a>
        <%=user%>
        <%=surveyData[0].userId%>
        <%if (user!=undefined){ if (user._id == surveyData[0].userId){%>
         <a href="/deletesurvey/<%=surveyid%>" class="btn btn-default btn-sm">Delete This Survey</a>
             <%}}%>
        <a href="#/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
             <h3><span class="fa fa-user surv_title"></span>Survey Title</h3>
            <div class="surv_question"><%=surveyData[0].surveyQuestion%></div>
            <form action="#" method="POST">
            <select name="text" required>
                <option selected disabled value=''>Choose an option:</option>
                <%surveyData[0].surveyOptions.forEach(function(entry, k ){%>
                    <option value = '<%=k%>'' ><%=entry%></option>
                <%})%>
            </select>
            <button type="submit" name="submit" value="submit">Submit</button>
            </form>
        </div>
        <div class="col-sm-6">
             <div class="row-fluid"><h3><span class="fa fa-user surv_title"></span>Results</h3></div>
                <%surveyData[0].surveyOptions.forEach(function(entry, k ){%>
                    <div class="row-fluid"><div class="col-sm-9"><%=entry%></div>
                    <div class="col-sm-3"><%=surveyData[0].surveyResponses[k]%></div></div>
                <%})%> 
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://codepen.io/anon/pen/aWapBE.js"></script>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: [<%chartNames.forEach(function(thisName, k ){%>'<%=thisName%>',
            <%})%>]
            
            ,datasets: [{
                label: "My First dataset",
                data: [<%=chartData%>], 
                backgroundColor: palette('tol', [<%=chartData%>].length).map(function(hex) {return '#' + hex;})
            }]
        },

        // Configuration options go here
        options: 
        {
            scales:{
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true,   // minimum value will be 0.
                        stepSize: 1
                    }
                }]
            }
        }
    });
    </script>
</body>
</html>
